<div class="flight-info">
  <table>
    <thead>
      <tr>
        <th>Departure from:</th>
        <th>Arrival in:</th>
        <th>Start date time:</th>
        <th>Flight duration:</th>
      </tr>

      <tr>
        <td><%= booking.flight.departure_airport.code %></td>
        <td><%= booking.flight.arrival_airport.code %></td>
        <td><%= booking.flight.formatted_datetime %></td>
        <td><%= booking.flight.duration / 60 %> hrs <%= booking.flight.duration % 60 %> min</td>
      </tr>
    </thead>
  </table>
</div>

